html{scroll-behavior: smooth;}
body{border:red 1px solid;background-color: white;font-family:patrickhand;margin-left:auto;margin-right:auto;margin-top: 0px;margin-bottom: 0px;width:100%;max-width:440px;height:100%;}
/* --------------------------- ###########
/*block*/
.container-in-ctr{border:red 1px solid;display:flex;justify-content: center;justify-items: center;}
.container-name{display: flex;flex-direction: column;width:100%;}
.container-logo{display: flex;justify-content: center;justify-items:center;width:33.3333333%;}
.container-col{display: flex;flex-direction: column;justify-content: center;justify-items: center;}
.container-row{display: flex;flex-direction: row;justify-content: center;justify-items: center;}
.container{padding:0px;margin:0px;}
.pagecover{border:green 2px solid;display:block;background-color:white;width:inherit;height:780px;}
.page1{border:green 2px solid;display:block;background-color:white;width:100%;height:100%;padding:0px;margin:0px;}
.page2{border:green 2px solid;background-image: url(https://www.katalogku.web.id/client/paperbg.svg);height:780px;padding:0px;margin:0px;}
.page3{border:green 2px solid;background-image: url(https://www.katalogku.web.id/client/paperbg.svg);height:780px;padding:0px;margin:0px;}
.page4{border:green 2px solid;background-image: url(https://www.katalogku.web.id/client/paperbg.svg);height:800px;width:440px;padding:0px;margin:0px;}
.margin1{position:relative;margin:10px;}
.margintop5{margin-top:50px;}
.margin-20{position:relative;margin:-20px;}
.margin2{position:relative;margin:20px;}
.padding2{position:relative;padding:20px;}
.padding1{position:relative;padding:10px;}
.topbg{background-image: url(https://www.katalogku.web.id/client/topbg.svg);min-width:400px;display:flex;justify-content:center;}
.bottombg{background-image: url(https://www.katalogku.web.id/client/topbg.svg);width:80%;}
.topbg-2{background-image: url(https://www.katalogku.web.id/client/page3-1.svg);width:80%;}
.bottombg-2{background-image: url(https://www.katalogku.web.id/client/page3-2.svg);width:80%;}
.border20{display:block;width:100%;height:40px;} 
.container-80{width:80%;max-width:440px;}
.container-70{width:70%;max-width:440px;}
.container-30{width:30%;max-width:440px;}
.center-item{display:flex;justify-content: center;justify-items: center;text-align: center;}
.image-content{position: relative;}
.position-this{margin-left: -200px;margin-top:60px;}
.position-this2{right:90px;}
.pos1{position:relative;left:-100px;top:0px;}
.pos2{position:relative;top:-100px;}
.pos3{position:relative;top:-130px;right:0px;}
.left{position: relative;display: block;float: left;}
.right{position: relative;display: block;float: right;}
.left1{left:10px;}
.center-text{text-align:center;}
.flip{transform: scaleY(-1) scaleX(-1);}
.flip2{transform: scaleX(-1);}
.height100{height:100px}
.col1{display:flex;flex-direction:column;width:100%;justify-content:center;}
.row1{display:flex;flex-direction:row;justify-content: center;}
.z0{z-index: 0;}
.z1{z-index: 1;}
.z2{z-index: 2;}
.z3{z-index: 3;}
/* --------------------------- ###########
/* Font */
.miracle{font-family: Miracle}
@font-face{font-family: Miracle;src: url(/f/miracle.otf);}
.patrick{font-family: Patrick}
@font-face{font-family: Patrick;src: url(/f/patrick.ttf);}
.grat-vibes{font-family: Greatvibes}
@font-face{font-family: Greatvibes;src: url(/f/greatvibes.ttf);}
.Albert500{font-family: Albert500}
@font-face{font-family: Albert500;src: url(/f/Albert500.ttf);}
.Albert900{font-family: Albert900}
@font-face{font-family: Albert900;src: url(/f/Albert900.ttf);}
.Dosis{font-family: Dosis}
@font-face{font-family: Dosis;src: url(/f/dosis.ttf);}
.lily{font-family: Lily}
@font-face{font-family: Lily;src: url(/f/lily.ttf);}
.ohchewy{font-family: Ohchewy}
@font-face{font-family: Ohchewy;src: url(/f/ohchewy.ttf);}
.sizeA{font-size: 30px;}
.sizeB{font-size: 23px;}
.sizeC{font-size: 18px;}
.sizeD{font-size: 14px;}
.sizeE{font-size: 11px;}
/* --------------------------- ###########
/* animate*/
.scale-animate{}


/* --------------------------- ###########
/* coloring */
.cyan{color:cyan;}
.white{color:white;}
.blue{color:blue;}
.gradiant{background-color: blueviolet;}
.span-darkblue{background-color: darkcyan;color:white;border-style: none;border-radius: 20px;}
.rounded1 {border-style: none;border-radius: 20px;}
.bgcol1{background-color: aquamarine;color:darkblue;}
.bgcol2{background-color: blue;color:aliceblue;}