html {
    scroll-behavior: smooth;
    width: 480px;
    height: 100%;
  }
  
  body.homepg {
    background-color: #e3f2e7;
  }
  
  /* visited link */
  a:visited {
    border-color: green;
    border-style: solid;
    border-width: 2px;
  }
  
  /* mouse over link */
  a:hover {
    border-color: red;
    border-style: solid;
    border-width: 2px;
  }
  
  /* selected link */
  a:active {
    border-color: orangered;
    border-style: solid;
    border-width: 2px;
  }

  div.banner1 {
    display: block;
    padding: 0px;
    margin: 0px;
  }

  div.banner2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    height: 100px;
    background-color: #8bcc94;
  }

  div.topbar {
    display: block;
    margin: 15px 0px 15px 0px;
    padding: 0px
  }

  div.topbar-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    background-color: #8bcc94;
  }

  div.content {
    display: block;
    margin: 15px;
    max-width: 100%;
    height: 600px;
    background-color: #8bcc94;
  }

  div.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    background-color: #8bcc94;
  }

  
  div.bigbang {
    display: block;
    margin: 15px;
    padding: 10px;
  }

  div.bigbangs {
    display: block;
    margin: 15px;
    padding: 10px;
    width: 80%;
    height: 200px;
    background-color: #8bcc94;
  }

  h15 {
    font-size: 20px;
    font-weight: 400px;
    color: black;
  }

  h16 {
    font-size: 12px;
    font-style: bold;
    color: black;
  }

  h17 {
    font-size: 30px;
    font-weight: 400px;
    color: black;
  }

  div.bigbang2 {
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #aaa;
    text-align: left;
  }

  div.bigbang3 {
    background-color: #e3f2e7;
    width: 300px;
    height: 300px;
  }

  img.preview {
    margin: 5px 0px 5px 0px;
    width: 300px;
    height: 300px;
  }

  div.judulbigbang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:#aaa;
    color: darkslategrey;
  }