body {
  background-color: Linen;
  background-size: cover;
  max-width: auto;
}

h1.darkblue {
  font-family: Altmono;
  font-size: 25px;
  color: saddlebrown;
  position: sticky;
}

p.subs {
  font-family: Altmono;
  font-size: 20px;
  color: saddlebrown;
}

@font-face {
  font-family: Altmono;
  src: url('/font/Riinspage/Altmonoregular.otf');
}

Altmono {
  font-family: Altmono;
  font-size: 20px;
  color: saddlebrown;
}

.bgatas {
  background-color: navajowhite;
  width: 60%;
  border-radius: 30px;
  max-width: auto;
  box-sizing: content-box;
  position: relative;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 25px;
}

.navbar {
  background-color: navajowhite;
  height: 120px;
  width: 80%;
  max-width: auto;
  box-sizing: content-box;
  position: sticky;
  
.footer-icon {
  width: 80px;
  height: 100px;
  padding: 5px;
}

img.left {
  position: relative;
  float: left;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  z-index: 3;
}

img.right {
  position: relative;
  float: right;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  z-index: 3;
}

img.riins { 
  position: relative;
  width: 200px;
  height: 150px;
  z-index: 2;
}

@keyframes tob {
  from {width: 20px; height: 30px;}
  to {width:50px; height: 60px;}
}

img.tobig {
  width: 50px;
  height: 60px;
  position: relative;
  animation-name: tob 2s;
}

.slide {
  display: none;
}

@keyframes animateright {
  from { right:-300px;opacity:0.5}
  to {right:0;opacity:1}
}

img.ser {
  position: relative;
  animation: animateright 3s;
}

div.tengah {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  position: relative;
}

#geserum {
  width: 900px;
  height: 500px;
  object-fit: cover;
  object-position: 0% 0%;
  animation: geserbang 15s infinite;
}  

@keyframes geserbang {
  0% {
    object-position: 0% 0%;
  }
  30% {
    object-position: 33% 0%;
  }
  70% {
    object-position: 66% 0%;
  }
  100% {
    object-position: 100% 0%;
  }
}

.riins-container {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
