body {
  background-color: Linen;
  background-size: cover;
  max-width: auto;
}

h1.darkblue {
  font-family: Altmono;
  font-size: 25px;
  color: saddlebrown;
}

p.subs {
  font-family: Altmono;
  font-size: 20px;
  color: saddlebrown;
}

@font-face {
  font-family: Altmono;
  src: url('/font/Riinspage/Altmonoregular.otf');
}

Altmono {
  font-family: Altmono;
  font-size: 20px;
  color: saddlebrown;
}

.bgatas {
  background-color: navajowhite;
  width: 60%;
  border-radius: 30px;
  max-width: auto;
  box-sizing: content-box;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 25px;
}

.navbar {
  background-color: navajowhite;
  width: 80%;
  max-width: auto;
  box-sizing: content-box;
  margin-bottom: 10px;
  padding: 25px;

}

img.left {
  float: left;
  margin-top: 200px;
  width: 200px;
  height: 200px;
  z-index: 10;
}

img.right {
  float: right;
  margin-top: 200px;
  width: 200px;
  height: 200px;
  z-index: 10;
}
