body {
  background-color: Linen;
  min-height: 100vh;
  width: 720px;
  
}

h1.darkblue {
  font-family: Altmono;
  font-size: 40px;
  color: magenta;
}

p.subs {
  font-family: Altmono;
  font-size: 20px;
  color: magenta;
}

@font-face {
  font-family: Altmono;
  src: url('/font/Riinspage/Altmonoregular.otf');
}

Altmono {
  font-family: Altmono;
  font-size: 20px;
  color: magenta;
}

.bgatas {
  background-color: #13116F;
  max-width: 720px;
  box-sizing: content-box;
}

.navbar {
  overflow: auto;
  background-color: mediumspringgren;
  bottom: 0;
  max-width: 720px;
  box-sizing: content-box;
  border-radius: 50px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}
